# Last.fm instellingen
# Haal je API-sleutel op via: https://www.last.fm/api/account/create
LASTFM_API_KEY=jouw_lastfm_api_sleutel
LASTFM_USER=jouw_lastfm_gebruikersnaam

# Plex instellingen (optioneel)
# Haal je Plex-token op via: https://support.plex.tv/articles/204059436
PLEX_URL=http://host.docker.internal:32400
PLEX_TOKEN=jouw_plex_token
